In [1]:
"""
Esse código é responsavel por tratar os dados, assim tratando os seguintes cenarios:
- Remover colunas que não serão utilizadas
- tratar linhas que possuem valores nulos
    - Colunas nulas numericas serão preenchidas com a -1
    - Colunas nulas String serão preenchidas com a string 'Desconhecido'
- tratar linhas que possuem valores duplicados
- tratar linhas que possuem valores fora do padrão
    - Colunas serão tratadas de acordo com o tipo de dado
    - float pode ser convertido para int
    - float 64 pode ser convertido para float 32 ou float 16
    - string pode ser convertida para categoria
    - int pode ser convertido para int8, int16, int32, int64
- Otimizar tipos de dados
- Salvar os tipos de dados otimizados em um arquivo externo
- Salvar os dados tratados em um novo arquivo
"""

"\nEsse código é responsavel por tratar os dados, assim tratando os seguintes cenarios:\n- Remover colunas que não serão utilizadas\n- tratar linhas que possuem valores nulos\n    - Colunas nulas numericas serão preenchidas com a -1\n    - Colunas nulas String serão preenchidas com a string 'Desconhecido'\n- tratar linhas que possuem valores duplicados\n- tratar linhas que possuem valores fora do padrão\n    - Colunas serão tratadas de acordo com o tipo de dado\n    - float pode ser convertido para int\n    - float 64 pode ser convertido para float 32 ou float 16\n    - string pode ser convertida para categoria\n    - int pode ser convertido para int8, int16, int32, int64\n- Otimizar tipos de dados\n- Salvar os tipos de dados otimizados em um arquivo externo\n- Salvar os dados tratados em um novo arquivo\n"

In [2]:
# Criando um dicionário para mapear os valores das colunas Q007 a Q025
pontuacao = {
    'Q007': {'A': 0, 'B': 1, 'C': 2, 'D': 3},            # Empregados domésticos
    'Q008': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Banheiros
    'Q009': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Quartos
    'Q010': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Carro
    'Q011': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Moto
    'Q012': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Geladeira
    'Q013': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Freezer
    'Q014': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Máquina de lavar
    'Q015': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Máquina de secar
    'Q016': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Forno micro-ondas
    'Q017': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Máquina de lavar louça
    'Q018': {'A': 0, 'B': 1},                            # Aspirador de pó
    'Q019': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Televisor
    'Q020': {'A': 0, 'B': 1},                            # Aparelho de DVD
    'Q021': {'A': 0, 'B': 1},                            # Televisão por assinatura
    'Q022': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Celular
    'Q023': {'A': 0, 'B': 1},                            # Telefone fixo
    'Q024': {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4},    # Computador
    'Q025': {'A': 0, 'B': 1},                            # Internet
}

In [3]:
import seaborn as sns
import pandas as pd
import chardet
import json
import gc
import matplotlib.pyplot as plt

In [4]:
input_file = '../microdados_enem_2023/DADOS/MICRODADOS_ENEM_2023.csv'
output_file = 'microdados_tratado.parquet'
output_file_csv = 'microdados_tratado.csv'

In [5]:


# Verifica o encoding original do arquivo do arquivo (ISO-8859-1)
with open(input_file, 'rb') as f:
    resultado = chardet.detect(f.read(10000))
    encoding_original = resultado['encoding']

microdados_V1 = pd.read_csv(input_file, sep=';', encoding=encoding_original, low_memory=False)

In [6]:
# Verifica a quantidade de linhas total do arquivo
total_linhas = microdados_V1.shape[0]
print(f'Total de linhas: {total_linhas}')

# Verifica a quantidade de linhas que possuem qualquer valor nulo
linhas_com_nulos = microdados_V1.isnull().any(axis=1).sum()
print(f'Total de linhas com algum valor nulo: {linhas_com_nulos}')

# Verifica a quantidade de linhas sem valores nulos
total_linhas_sem_nulos = total_linhas - linhas_com_nulos
print(f'Total de linhas sem valores nulos: {total_linhas_sem_nulos}')

Total de linhas: 3933955
Total de linhas com algum valor nulo: 3225341
Total de linhas sem valores nulos: 708614

In [7]:
#Remover colunas que não sera usadas
microdados_V1.drop(columns=[
'NU_INSCRICAO',
'NU_ANO',
'IN_TREINEIRO',
'CO_MUNICIPIO_ESC',
'CO_UF_ESC',
'TP_SIT_FUNC_ESC',
'CO_MUNICIPIO_PROVA',
'CO_UF_PROVA',
'CO_PROVA_CN',
'CO_PROVA_CH',
'CO_PROVA_LC',
'CO_PROVA_MT',
], inplace=True)
# microdados_V1.reset_index(drop=True, inplace=True)

In [8]:
#==================== DADOS NULOS ====================#

In [9]:
# Verifica a quantidade de linhas total do arquivo
total_linhas = microdados_V1.shape[0]
print(f'Total de linhas: {total_linhas}')

# Verifica a quantidade de linhas que possuem qualquer valor nulo
linhas_com_nulos = microdados_V1.isnull().any(axis=1).sum()
print(f'Total de linhas com algum valor nulo: {linhas_com_nulos}')

# Verifica a quantidade de linhas restantes
total_linhas_restantes = total_linhas - linhas_com_nulos
print(f'Total de linhas restantes: {total_linhas_restantes}')

Total de linhas: 3933955
Total de linhas com algum valor nulo: 3225341
Total de linhas restantes: 708614

In [10]:
# Verificar informações sobre os dados
microdados_V1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 64 columns):
 #   Column                  Dtype
---  ------                  -----
 0   TP_FAIXA_ETARIA         int64
 1   TP_SEXO                 object
 2   TP_ESTADO_CIVIL         int64
 3   TP_COR_RACA             int64
 4   TP_NACIONALIDADE        int64
 5   TP_ST_CONCLUSAO         int64
 6   TP_ANO_CONCLUIU         int64
 7   TP_ESCOLA               int64
 8   TP_ENSINO               float64
 9   NO_MUNICIPIO_ESC        object
 10  SG_UF_ESC               object
 11  TP_DEPENDENCIA_ADM_ESC  float64
 12  TP_LOCALIZACAO_ESC      float64
 13  NO_MUNICIPIO_PROVA      object
 14  SG_UF_PROVA             object
 15  TP_PRESENCA_CN          int64
 16  TP_PRESENCA_CH          int64
 17  TP_PRESENCA_LC          int64
 18  TP_PRESENCA_MT          int64
 19  NU_NOTA_CN              float64
 20  NU_NOTA_CH              float64
 21  NU_NOTA_LC              float64
 22  NU_NOTA_MT              float64
 23  TX_RESPOSTAS_CN         object
 24  TX_RESPOSTAS_CH         object
 25  TX_RESPOSTAS_LC         object
 26  TX_RESPOSTAS_MT         object
 27  TP_LINGUA               int64
 28  TX_GABARITO_CN          object
 29  TX_GABARITO_CH          object
 30  TX_GABARITO_LC          object
 31  TX_GABARITO_MT          object
 32  TP_STATUS_REDACAO       float64
 33  NU_NOTA_COMP1           float64
 34  NU_NOTA_COMP2           float64
 35  NU_NOTA_COMP3           float64
 36  NU_NOTA_COMP4           float64
 37  NU_NOTA_COMP5           float64
 38  NU_NOTA_REDACAO         float64
 39  Q001                    object
 40  Q002                    object
 41  Q003                    object
 42  Q004                    object
 43  Q005                    int64
 44  Q006                    object
 45  Q007                    object
 46  Q008                    object
 47  Q009                    object
 48  Q010                    object
 49  Q011                    object
 50  Q012                    object
 51  Q013                    object
 52  Q014                    object
 53  Q015                    object
 54  Q016                    object
 55  Q017                    object
 56  Q018                    object
 57  Q019                    object
 58  Q020                    object
 59  Q021                    object
 60  Q022                    object
 61  Q023                    object
 62  Q024                    object
 63  Q025                    object
dtypes: float64(14), int64(13), object(37)
memory usage: 1.9+ GB

In [11]:
# Localizando colunas nulas
nulos = microdados_V1.columns[microdados_V1.isnull().any()]
nulos

Index(['TP_ENSINO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2',
       'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO'],
      dtype='object')

In [12]:
# # Localizando colunas nulas de cada tipo
# nulos_number = microdados_V1[nulos].select_dtypes(include='number').columns
# nulos_string = microdados_V1[nulos].select_dtypes(include='object').columns
# nulos_number, nulos_string

In [13]:
"""
Selecionar colunas nulas relacionadas as notas do candidato
Verificar existencia de candidatos tiraram nota 0
Verificar existencia de valores igual a -1
"""
colunas_notas = [
    'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
    'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
    'NU_NOTA_COMP5', 'NU_NOTA_REDACAO',
]

microdados_V1[colunas_notas].min() == 0

NU_NOTA_CN         True
NU_NOTA_CH         True
NU_NOTA_LC         True
NU_NOTA_MT         True
NU_NOTA_COMP1      True
NU_NOTA_COMP2      True
NU_NOTA_COMP3      True
NU_NOTA_COMP4      True
NU_NOTA_COMP5      True
NU_NOTA_REDACAO    True
dtype: bool

In [14]:
microdados_V1[colunas_notas].min() == -1

NU_NOTA_CN         False
NU_NOTA_CH         False
NU_NOTA_LC         False
NU_NOTA_MT         False
NU_NOTA_COMP1      False
NU_NOTA_COMP2      False
NU_NOTA_COMP3      False
NU_NOTA_COMP4      False
NU_NOTA_COMP5      False
NU_NOTA_REDACAO    False
dtype: bool

In [15]:
"""
Exitem candidatos que tiraram nota 0 na provas
Analisado que não existem valores -1 nas notas dos candidatos	
"""
microdados_V1[colunas_notas] = microdados_V1[colunas_notas].fillna(-1)
microdados_V1[colunas_notas].head()

,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,502.0,498.9,475.6,363.2,140.0,200.0,100.0,120.0,140.0,700.0
3,459.0,508.5,507.2,466.7,140.0,200.0,160.0,180.0,200.0,880.0
4,402.5,379.2,446.9,338.3,120.0,120.0,120.0,120.0,80.0,560.0

In [16]:
# """
# Tratar colunas de dtype string nulas
# Sendo valores do tipo string, preencher com a string 'Desconhecido'
# """
# colunas_gabarito = [
#     'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT',
#     'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT',
# ]

# microdados_V1[colunas_gabarito] = microdados_V1[colunas_gabarito].fillna('Desconhecido')
# microdados_V1[colunas_gabarito].head()

In [17]:
# Verfica a quantidade de linhas nulas restantes nas colunas tratadas
# microdados_V1[colunas_gabarito].isna().sum().sum()
microdados_V1[colunas_notas].isna().sum().sum()

np.int64(0)

In [18]:
# Verifica a quantidade de colunas nulas restantes
colunas_com_nulos = microdados_V1.columns[microdados_V1.isnull().any()]
colunas_com_nulos

Index(['TP_ENSINO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TX_GABARITO_CN',
       'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT',
       'TP_STATUS_REDACAO'],
      dtype='object')

In [19]:
# Extraindo colunas com valores nulos do tipo number e aplicando valores -1
colunas_com_nulos_numericos = microdados_V1[colunas_com_nulos].select_dtypes(include='number').columns
# Colunas que possuem valores nulos do tipo string, continuaram sem alteração
microdados_V1[colunas_com_nulos].head()

,TP_ENSINO,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,DBEBDCECCBCEBBBBDBABDDBBAABCBACDBACECCBAADEBB,ABDEADAADCDABDCADAEABCDDCBAADCCBEBCEBEBDBEAED,ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED,CEAEACCCDABCDAACEDDBAAEBABDDEEBDAECABDBCBCADE,DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED,ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC,1.0
3,1.0,Fortaleza,CE,2.0,1.0,DEEBEACCCEBDDBDCCCAEEDCBAAADBCBEEEDCDAAECBEEC,DDAAEEBCCDEADBCDDCBAECABEBDEBDABECECEDCDDAEED,ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA,EECBAEDEEDDDBBAADEECDBBBECEAACEAEECDBEDDBCDCB,CDDDABBABDBEABDECCEEEDCEDAEBABDCCAACCCADACDBE,DBAADEADCDCABABCDDEBAEABAECABAACECDAECBDAABCD,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,EBDADDAEBEACBEDCECCBEABCADEBCCBCCDEBDDAABBADD,1.0
4,1.0,Quixadá,CE,2.0,1.0,AECCEAACDEABEEECDBAEEAAADDEABCBCEBACEEDCBEABD,CADEBCEDDEBCBAEBADDCECACADBDEBABDBDBEEDBBEADC,AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE,CDBABEDCEEBBBDECDEBACCAABDEDCBECDECABBDBDEECC,CAAADCCCCDDDABDCACDBEEEDCEDAEECCDBEABDBABBAEB,CDAEECABAACEAADECBDAABCDCABADCDEABAABCDDEBADB,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,DCECACCBDECBEEABEABDDAADDABBBCCBCCDDAEBDADEEB,1.0

In [20]:
microdados_V1[colunas_com_nulos_numericos] = microdados_V1[colunas_com_nulos_numericos].fillna(-1)
microdados_V1[colunas_com_nulos_numericos].head()

   TP_ENSINO  TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_STATUS_REDACAO
0       -1.0                    -1.0                -1.0               -1.0
1       -1.0                    -1.0                -1.0               -1.0
2       -1.0                    -1.0                -1.0                1.0
3        1.0                     2.0                 1.0                1.0
4        1.0                     2.0                 1.0                1.0

In [21]:
# Verifica a quantidade de colunas nulas restantes
# Tratar colunas nulas do tipo string com a string 'Desconhecido'
colunas_com_nulos_string = microdados_V1.columns[microdados_V1.isnull().any()]
colunas_com_nulos_string

Index(['NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TX_GABARITO_CN',
       'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT'],
      dtype='object')

In [22]:
microdados_V1[colunas_com_nulos_string] = microdados_V1[colunas_com_nulos_string].fillna('Desconhecido')
print(microdados_V1[colunas_com_nulos_string].head())

  NO_MUNICIPIO_ESC     SG_UF_ESC  \
0     Desconhecido  Desconhecido
1     Desconhecido  Desconhecido
2     Desconhecido  Desconhecido
3        Fortaleza            CE
4          Quixadá            CE

                                 TX_RESPOSTAS_CN  \
0                                   Desconhecido
1                                   Desconhecido
2  DBEBDCECCBCEBBBBDBABDDBBAABCBACDBACECCBAADEBB
3  DEEBEACCCEBDDBDCCCAEEDCBAAADBCBEEEDCDAAECBEEC
4  AECCEAACDEABEEECDBAEEAAADDEABCBCEBACEEDCBEABD

                                 TX_RESPOSTAS_CH  \
0                                   Desconhecido
1                                   Desconhecido
2  ABDEADAADCDABDCADAEABCDDCBAADCCBEBCEBEBDBEAED
3  DDAAEEBCCDEADBCDDCBAECABEBDEBDABECECEDCDDAEED
4  CADEBCEDDEBCBAEBADDCECACADBDEBABDBDBEEDBBEADC

                                 TX_RESPOSTAS_LC  \
0                                   Desconhecido
1                                   Desconhecido
2  ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED
3  ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA
4  AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE

                                 TX_RESPOSTAS_MT  \
0                                   Desconhecido
1                                   Desconhecido
2  CEAEACCCDABCDAACEDDBAAEBABDDEEBDAECABDBCBCADE
3  EECBAEDEEDDDBBAADEECDBBBECEAACEAEECDBEDDBCDCB
4  CDBABEDCEEBBBDECDEBACCAABDEDCBECDECABBDBDEECC

                                  TX_GABARITO_CN  \
0                                   Desconhecido
1                                   Desconhecido
2  DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED
3  CDDDABBABDBEABDECCEEEDCEDAEBABDCCAACCCADACDBE
4  CAAADCCCCDDDABDCACDBEEEDCEDAEECCDBEABDBABBAEB

                                  TX_GABARITO_CH  \
0                                   Desconhecido
1                                   Desconhecido
2  ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE
3  DBAADEADCDCABABCDDEBAEABAECABAACECDAECBDAABCD
4  CDAEECABAACEAADECBDAABCDCABADCDEABAABCDDEBADB

                                      TX_GABARITO_LC  \
0                                       Desconhecido
1                                       Desconhecido
2  DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...
3  BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...
4  BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...

                                  TX_GABARITO_MT
0                                   Desconhecido
1                                   Desconhecido
2  BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC
3  EBDADDAEBEACBEDCECCBEABCADEBCCBCCDEBDDAABBADD
4  DCECACCBDECBEEABEABDDAADDABBBCCBCCDDAEBDADEEB

In [23]:
microdados_V1.columns[microdados_V1.isnull().any()]

Index([], dtype='object')

In [24]:
#==================== OTIMIZAÇÂO DE DTYPES ====================#

In [25]:
microdados_V2 = microdados_V1.copy()
del microdados_V1
gc.collect()

20

In [26]:
microdados_V2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 64 columns):
 #   Column                  Dtype
---  ------                  -----
 0   TP_FAIXA_ETARIA         int64
 1   TP_SEXO                 object
 2   TP_ESTADO_CIVIL         int64
 3   TP_COR_RACA             int64
 4   TP_NACIONALIDADE        int64
 5   TP_ST_CONCLUSAO         int64
 6   TP_ANO_CONCLUIU         int64
 7   TP_ESCOLA               int64
 8   TP_ENSINO               float64
 9   NO_MUNICIPIO_ESC        object
 10  SG_UF_ESC               object
 11  TP_DEPENDENCIA_ADM_ESC  float64
 12  TP_LOCALIZACAO_ESC      float64
 13  NO_MUNICIPIO_PROVA      object
 14  SG_UF_PROVA             object
 15  TP_PRESENCA_CN          int64
 16  TP_PRESENCA_CH          int64
 17  TP_PRESENCA_LC          int64
 18  TP_PRESENCA_MT          int64
 19  NU_NOTA_CN              float64
 20  NU_NOTA_CH              float64
 21  NU_NOTA_LC              float64
 22  NU_NOTA_MT              float64
 23  TX_RESPOSTAS_CN         object
 24  TX_RESPOSTAS_CH         object
 25  TX_RESPOSTAS_LC         object
 26  TX_RESPOSTAS_MT         object
 27  TP_LINGUA               int64
 28  TX_GABARITO_CN          object
 29  TX_GABARITO_CH          object
 30  TX_GABARITO_LC          object
 31  TX_GABARITO_MT          object
 32  TP_STATUS_REDACAO       float64
 33  NU_NOTA_COMP1           float64
 34  NU_NOTA_COMP2           float64
 35  NU_NOTA_COMP3           float64
 36  NU_NOTA_COMP4           float64
 37  NU_NOTA_COMP5           float64
 38  NU_NOTA_REDACAO         float64
 39  Q001                    object
 40  Q002                    object
 41  Q003                    object
 42  Q004                    object
 43  Q005                    int64
 44  Q006                    object
 45  Q007                    object
 46  Q008                    object
 47  Q009                    object
 48  Q010                    object
 49  Q011                    object
 50  Q012                    object
 51  Q013                    object
 52  Q014                    object
 53  Q015                    object
 54  Q016                    object
 55  Q017                    object
 56  Q018                    object
 57  Q019                    object
 58  Q020                    object
 59  Q021                    object
 60  Q022                    object
 61  Q023                    object
 62  Q024                    object
 63  Q025                    object
dtypes: float64(14), int64(13), object(37)
memory usage: 1.9+ GB

In [27]:
#Selecionar as colunas que podem ser convertidas para category
colunas_categoria = [
    "TP_FAIXA_ETARIA", "TP_SEXO", "TP_ESTADO_CIVIL", "TP_COR_RACA", "TP_NACIONALIDADE",
    "TP_ST_CONCLUSAO", "TP_ANO_CONCLUIU", "TP_ESCOLA", "TP_DEPENDENCIA_ADM_ESC", "TP_ENSINO", "NO_MUNICIPIO_ESC",
    "SG_UF_ESC", "TP_LOCALIZACAO_ESC", "NO_MUNICIPIO_PROVA", "SG_UF_PROVA", "TP_PRESENCA_CN",
    "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT", "TP_LINGUA", "TP_STATUS_REDACAO",
    "Q001", "Q002", "Q003", "Q004", "Q005", "Q006", "Q007", "Q008", "Q009", "Q010", "Q011", "Q012",
    "Q013", "Q014", "Q015", "Q016", "Q017", "Q018", "Q019", "Q020", "Q021", "Q022", "Q023",
    "Q024", "Q025"
]
microdados_V2[colunas_categoria] = microdados_V2[colunas_categoria].astype('category')

In [28]:
# Separar colunas por tipo de dado
print('Colunas do tipo int64:')
colunas_int64 = microdados_V2.select_dtypes(include='int64').columns
print(colunas_int64)

print('\nColunas do tipo float64:')
colunas_float64 = microdados_V2.select_dtypes(include='float64').columns
print(colunas_float64)

Colunas do tipo int64:
Index([], dtype='object')

Colunas do tipo float64:
Index(['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO'],
      dtype='object')

In [29]:
"""
Verificar se é possivel converter os valores do tipo float64 para int64
Verificar se todas as colunas do tipo float64 possuem valores inteiros
"""

resultados = {}
for coluna in colunas_float64:
    resultados[coluna] = microdados_V2[coluna].apply(lambda x: x.is_integer()).all()

for coluna, resultado in resultados.items():
    print(f'Colunas: {coluna} - Possui apenas valores inteiros: {resultado}')

Colunas: NU_NOTA_CN - Possui apenas valores inteiros: False
Colunas: NU_NOTA_CH - Possui apenas valores inteiros: False
Colunas: NU_NOTA_LC - Possui apenas valores inteiros: False
Colunas: NU_NOTA_MT - Possui apenas valores inteiros: False
Colunas: NU_NOTA_COMP1 - Possui apenas valores inteiros: True
Colunas: NU_NOTA_COMP2 - Possui apenas valores inteiros: True
Colunas: NU_NOTA_COMP3 - Possui apenas valores inteiros: True
Colunas: NU_NOTA_COMP4 - Possui apenas valores inteiros: True
Colunas: NU_NOTA_COMP5 - Possui apenas valores inteiros: True
Colunas: NU_NOTA_REDACAO - Possui apenas valores inteiros: True

In [30]:
"""
Selecionar colunas que possuem apenas valores float
Analizar valor maximo para verificar se é possivel converter para float16
Converter colunas float64 para float16
"""
colunas_float16 = [
    'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT'
]

print(f'Valor máximo encontrado: {microdados_V2[colunas_float16].max().max()}')
microdados_V2[colunas_float16] = microdados_V2[colunas_float16].astype('float16')
microdados_V2.info()

Valor máximo encontrado: 958.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 64 columns):
 #   Column                  Dtype
---  ------                  -----
 0   TP_FAIXA_ETARIA         category
 1   TP_SEXO                 category
 2   TP_ESTADO_CIVIL         category
 3   TP_COR_RACA             category
 4   TP_NACIONALIDADE        category
 5   TP_ST_CONCLUSAO         category
 6   TP_ANO_CONCLUIU         category
 7   TP_ESCOLA               category
 8   TP_ENSINO               category
 9   NO_MUNICIPIO_ESC        category
 10  SG_UF_ESC               category
 11  TP_DEPENDENCIA_ADM_ESC  category
 12  TP_LOCALIZACAO_ESC      category
 13  NO_MUNICIPIO_PROVA      category
 14  SG_UF_PROVA             category
 15  TP_PRESENCA_CN          category
 16  TP_PRESENCA_CH          category
 17  TP_PRESENCA_LC          category
 18  TP_PRESENCA_MT          category
 19  NU_NOTA_CN              float16
 20  NU_NOTA_CH              float16
 21  NU_NOTA_LC              float16
 22  NU_NOTA_MT              float16
 23  TX_RESPOSTAS_CN         object
 24  TX_RESPOSTAS_CH         object
 25  TX_RESPOSTAS_LC         object
 26  TX_RESPOSTAS_MT         object
 27  TP_LINGUA               category
 28  TX_GABARITO_CN          object
 29  TX_GABARITO_CH          object
 30  TX_GABARITO_LC          object
 31  TX_GABARITO_MT          object
 32  TP_STATUS_REDACAO       category
 33  NU_NOTA_COMP1           float64
 34  NU_NOTA_COMP2           float64
 35  NU_NOTA_COMP3           float64
 36  NU_NOTA_COMP4           float64
 37  NU_NOTA_COMP5           float64
 38  NU_NOTA_REDACAO         float64
 39  Q001                    category
 40  Q002                    category
 41  Q003                    category
 42  Q004                    category
 43  Q005                    category
 44  Q006                    category
 45  Q007                    category
 46  Q008                    category
 47  Q009                    category
 48  Q010                    category
 49  Q011                    category
 50  Q012                    category
 51  Q013                    category
 52  Q014                    category
 53  Q015                    category
 54  Q016                    category
 55  Q017                    category
 56  Q018                    category
 57  Q019                    category
 58  Q020                    category
 59  Q021                    category
 60  Q022                    category
 61  Q023                    category
 62  Q024                    category
 63  Q025                    category
dtypes: category(46), float16(4), float64(6), object(8)
memory usage: 630.5+ MB

In [31]:
"""
Restante das colunas podem ser convertidas para int64 inicialmente e depois tratada conforme a necessidade
"""

colunas_float64=microdados_V2.select_dtypes(include='float64').columns
microdados_V2[colunas_float64] = microdados_V2[colunas_float64].astype('int64')
microdados_V2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 64 columns):
 #   Column                  Dtype
---  ------                  -----
 0   TP_FAIXA_ETARIA         category
 1   TP_SEXO                 category
 2   TP_ESTADO_CIVIL         category
 3   TP_COR_RACA             category
 4   TP_NACIONALIDADE        category
 5   TP_ST_CONCLUSAO         category
 6   TP_ANO_CONCLUIU         category
 7   TP_ESCOLA               category
 8   TP_ENSINO               category
 9   NO_MUNICIPIO_ESC        category
 10  SG_UF_ESC               category
 11  TP_DEPENDENCIA_ADM_ESC  category
 12  TP_LOCALIZACAO_ESC      category
 13  NO_MUNICIPIO_PROVA      category
 14  SG_UF_PROVA             category
 15  TP_PRESENCA_CN          category
 16  TP_PRESENCA_CH          category
 17  TP_PRESENCA_LC          category
 18  TP_PRESENCA_MT          category
 19  NU_NOTA_CN              float16
 20  NU_NOTA_CH              float16
 21  NU_NOTA_LC              float16
 22  NU_NOTA_MT              float16
 23  TX_RESPOSTAS_CN         object
 24  TX_RESPOSTAS_CH         object
 25  TX_RESPOSTAS_LC         object
 26  TX_RESPOSTAS_MT         object
 27  TP_LINGUA               category
 28  TX_GABARITO_CN          object
 29  TX_GABARITO_CH          object
 30  TX_GABARITO_LC          object
 31  TX_GABARITO_MT          object
 32  TP_STATUS_REDACAO       category
 33  NU_NOTA_COMP1           int64
 34  NU_NOTA_COMP2           int64
 35  NU_NOTA_COMP3           int64
 36  NU_NOTA_COMP4           int64
 37  NU_NOTA_COMP5           int64
 38  NU_NOTA_REDACAO         int64
 39  Q001                    category
 40  Q002                    category
 41  Q003                    category
 42  Q004                    category
 43  Q005                    category
 44  Q006                    category
 45  Q007                    category
 46  Q008                    category
 47  Q009                    category
 48  Q010                    category
 49  Q011                    category
 50  Q012                    category
 51  Q013                    category
 52  Q014                    category
 53  Q015                    category
 54  Q016                    category
 55  Q017                    category
 56  Q018                    category
 57  Q019                    category
 58  Q020                    category
 59  Q021                    category
 60  Q022                    category
 61  Q023                    category
 62  Q024                    category
 63  Q025                    category
dtypes: category(46), float16(4), int64(6), object(8)
memory usage: 630.5+ MB

In [32]:
"""
Seleciona as colunas que possuem valores int64
"""
colunas_int64 = microdados_V2.select_dtypes(include='int64').columns
colunas_int64

Index(['NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO'],
      dtype='object')

In [33]:
"""
Converter colunas do tipo string seu respectivo tipo de acordo com seu tamanho 
"""
colunas_int64 = microdados_V2.select_dtypes(include='int64').columns

for col in colunas_int64:
  if microdados_V2[col].max() <= 127:
    microdados_V2[col] = microdados_V2[col].astype('int8')
  elif microdados_V2[col].max() <= 32767:
    microdados_V2[col] = microdados_V2[col].astype('int16')
  elif microdados_V2[col].max() <= 2147483647:
    microdados_V2[col] = microdados_V2[col].astype('int32')
  else:
    microdados_V2[col] = microdados_V2[col].astype('int64')

microdados_V2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 64 columns):
 #   Column                  Dtype
---  ------                  -----
 0   TP_FAIXA_ETARIA         category
 1   TP_SEXO                 category
 2   TP_ESTADO_CIVIL         category
 3   TP_COR_RACA             category
 4   TP_NACIONALIDADE        category
 5   TP_ST_CONCLUSAO         category
 6   TP_ANO_CONCLUIU         category
 7   TP_ESCOLA               category
 8   TP_ENSINO               category
 9   NO_MUNICIPIO_ESC        category
 10  SG_UF_ESC               category
 11  TP_DEPENDENCIA_ADM_ESC  category
 12  TP_LOCALIZACAO_ESC      category
 13  NO_MUNICIPIO_PROVA      category
 14  SG_UF_PROVA             category
 15  TP_PRESENCA_CN          category
 16  TP_PRESENCA_CH          category
 17  TP_PRESENCA_LC          category
 18  TP_PRESENCA_MT          category
 19  NU_NOTA_CN              float16
 20  NU_NOTA_CH              float16
 21  NU_NOTA_LC              float16
 22  NU_NOTA_MT              float16
 23  TX_RESPOSTAS_CN         object
 24  TX_RESPOSTAS_CH         object
 25  TX_RESPOSTAS_LC         object
 26  TX_RESPOSTAS_MT         object
 27  TP_LINGUA               category
 28  TX_GABARITO_CN          object
 29  TX_GABARITO_CH          object
 30  TX_GABARITO_LC          object
 31  TX_GABARITO_MT          object
 32  TP_STATUS_REDACAO       category
 33  NU_NOTA_COMP1           int16
 34  NU_NOTA_COMP2           int16
 35  NU_NOTA_COMP3           int16
 36  NU_NOTA_COMP4           int16
 37  NU_NOTA_COMP5           int16
 38  NU_NOTA_REDACAO         int16
 39  Q001                    category
 40  Q002                    category
 41  Q003                    category
 42  Q004                    category
 43  Q005                    category
 44  Q006                    category
 45  Q007                    category
 46  Q008                    category
 47  Q009                    category
 48  Q010                    category
 49  Q011                    category
 50  Q012                    category
 51  Q013                    category
 52  Q014                    category
 53  Q015                    category
 54  Q016                    category
 55  Q017                    category
 56  Q018                    category
 57  Q019                    category
 58  Q020                    category
 59  Q021                    category
 60  Q022                    category
 61  Q023                    category
 62  Q024                    category
 63  Q025                    category
dtypes: category(46), float16(4), int16(6), object(8)
memory usage: 495.5+ MB

In [34]:
# Extrair colunas do tipo object
colunas_object =  microdados_V2.select_dtypes(include=['object']).columns
print(colunas_object)

Index(['TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT'],
      dtype='object')

In [35]:
# # Analisar quais colunas tem a possibilidade de serem convertidas para categoria

# resultados = {}

# for col in colunas_object:
#     # Verificar se a quantidade de valores unicos é menor que 50% do total de linhas
#     if microdados_V2[col].nunique()/microdados_V2[col].shape[0] < 0.01:
#         resultados[col] = True
#     else:
#         resultados[col] = False

# for col, resultado in resultados.items():
#     print(f'Coluna: {col} - Pode ser convertida para categoria: {resultado}')

In [36]:
colunas_object = microdados_V2.select_dtypes(include=['object']).columns
colunas_object

Index(['TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT'],
      dtype='object')

In [37]:
# Converter colunas restantes do tipo object para string
colunas_object = microdados_V2.select_dtypes(include=['object']).columns
microdados_V2[colunas_object] = microdados_V2[colunas_object].astype('string')
microdados_V2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 64 columns):
 #   Column                  Dtype
---  ------                  -----
 0   TP_FAIXA_ETARIA         category
 1   TP_SEXO                 category
 2   TP_ESTADO_CIVIL         category
 3   TP_COR_RACA             category
 4   TP_NACIONALIDADE        category
 5   TP_ST_CONCLUSAO         category
 6   TP_ANO_CONCLUIU         category
 7   TP_ESCOLA               category
 8   TP_ENSINO               category
 9   NO_MUNICIPIO_ESC        category
 10  SG_UF_ESC               category
 11  TP_DEPENDENCIA_ADM_ESC  category
 12  TP_LOCALIZACAO_ESC      category
 13  NO_MUNICIPIO_PROVA      category
 14  SG_UF_PROVA             category
 15  TP_PRESENCA_CN          category
 16  TP_PRESENCA_CH          category
 17  TP_PRESENCA_LC          category
 18  TP_PRESENCA_MT          category
 19  NU_NOTA_CN              float16
 20  NU_NOTA_CH              float16
 21  NU_NOTA_LC              float16
 22  NU_NOTA_MT              float16
 23  TX_RESPOSTAS_CN         string
 24  TX_RESPOSTAS_CH         string
 25  TX_RESPOSTAS_LC         string
 26  TX_RESPOSTAS_MT         string
 27  TP_LINGUA               category
 28  TX_GABARITO_CN          string
 29  TX_GABARITO_CH          string
 30  TX_GABARITO_LC          string
 31  TX_GABARITO_MT          string
 32  TP_STATUS_REDACAO       category
 33  NU_NOTA_COMP1           int16
 34  NU_NOTA_COMP2           int16
 35  NU_NOTA_COMP3           int16
 36  NU_NOTA_COMP4           int16
 37  NU_NOTA_COMP5           int16
 38  NU_NOTA_REDACAO         int16
 39  Q001                    category
 40  Q002                    category
 41  Q003                    category
 42  Q004                    category
 43  Q005                    category
 44  Q006                    category
 45  Q007                    category
 46  Q008                    category
 47  Q009                    category
 48  Q010                    category
 49  Q011                    category
 50  Q012                    category
 51  Q013                    category
 52  Q014                    category
 53  Q015                    category
 54  Q016                    category
 55  Q017                    category
 56  Q018                    category
 57  Q019                    category
 58  Q020                    category
 59  Q021                    category
 60  Q022                    category
 61  Q023                    category
 62  Q024                    category
 63  Q025                    category
dtypes: category(46), float16(4), int16(6), string(8)
memory usage: 495.5 MB

In [38]:
#==================== CRIAÇÃO DE NOVAS COLUNAS ====================#

In [39]:
microdados_V3 = microdados_V2.copy()
del microdados_V2
gc.collect()

0

In [40]:
""" 
Criação de uma nova colunas para identificar se o candidato esteve presente em todos os dias de prova
Extrair colunas relacionadas a presença do candidato e somar o valor de cada coluna
Onde será preenchido com 1 se o candidato esteve presente em todos os dias de prova e 0 caso contrário
Transformar o tipo de dado para category
"""
# Definindo as condições para cada categoria de presença geral
condicao_presenca_completa = (
    (microdados_V3['TP_PRESENCA_CN'] == 1) & 
    (microdados_V3['TP_PRESENCA_CH'] == 1) & 
    (microdados_V3['TP_PRESENCA_LC'] == 1) & 
    (microdados_V3['TP_PRESENCA_MT'] == 1)
)

condicao_presenca_primeiro_dia = (
    (microdados_V3['TP_PRESENCA_LC'] == 1) & 
    (microdados_V3['TP_PRESENCA_CH'] == 1) & 
    ((microdados_V3['TP_PRESENCA_MT'] != 1) | (microdados_V3['TP_PRESENCA_CN'] != 1))
)

condicao_presenca_segundo_dia = (
    (microdados_V3['TP_PRESENCA_MT'] == 1) & 
    (microdados_V3['TP_PRESENCA_CN'] == 1) & 
    ((microdados_V3['TP_PRESENCA_LC'] != 1) | (microdados_V3['TP_PRESENCA_CH'] != 1))
)

# Criando a coluna com valores padrão (0)
microdados_V3['TP_PRESENCA_GERAL'] = 0

# Aplicando as condições na ordem correta
microdados_V3.loc[condicao_presenca_primeiro_dia, 'TP_PRESENCA_GERAL'] = 1
microdados_V3.loc[condicao_presenca_segundo_dia, 'TP_PRESENCA_GERAL'] = 2
microdados_V3.loc[condicao_presenca_completa, 'TP_PRESENCA_GERAL'] = 3

# Convertendo para category
microdados_V3['TP_PRESENCA_GERAL'] = microdados_V3['TP_PRESENCA_GERAL'].astype('category')

In [41]:
# ADICIONAR NOVAS COLUNAS AQUI

# Mapeamento de estados para regiões brasileiras
ESTADO_PARA_REGIAO = {
    # Norte
    'AC': 'Norte', 'AM': 'Norte', 'AP': 'Norte', 'PA': 'Norte', 
    'RO': 'Norte', 'RR': 'Norte', 'TO': 'Norte',
    
    # Nordeste  
    'AL': 'Nordeste', 'BA': 'Nordeste', 'CE': 'Nordeste', 'MA': 'Nordeste',
    'PB': 'Nordeste', 'PE': 'Nordeste', 'PI': 'Nordeste', 'RN': 'Nordeste', 'SE': 'Nordeste',
    
    # Centro-Oeste
    'DF': 'Centro-Oeste', 'GO': 'Centro-Oeste', 'MS': 'Centro-Oeste', 'MT': 'Centro-Oeste',
    
    # Sudeste
    'ES': 'Sudeste', 'MG': 'Sudeste', 'RJ': 'Sudeste', 'SP': 'Sudeste',
    
    # Sul
    'PR': 'Sul', 'RS': 'Sul', 'SC': 'Sul'
}

def adicionar_coluna_regiao(microdados_V3):
    """
    Adiciona a coluna REGIAO ao DataFrame baseada na coluna SG_UF_PROVA.
    Esta coluna estava sendo criada em runtime e impactava a performance.
    """
    if 'SG_REGIAO' in microdados_V3.columns:
        print("Coluna REGIAO já existe no DataFrame")
        return microdados_V3
    
    if 'SG_UF_PROVA' not in microdados_V3.columns:
        print("AVISO: Coluna SG_UF_PROVA não encontrada. Coluna REGIAO não foi criada.")
        return microdados_V3
    
    print("Criando coluna REGIAO...")
    microdados_V3['SG_REGIAO'] = microdados_V3['SG_UF_PROVA'].map(ESTADO_PARA_REGIAO)
    
    # Verificar valores não mapeados
    valores_nao_mapeados = microdados_V3[microdados_V3['SG_REGIAO'].isna()]['SG_UF_PROVA'].unique()
    if len(valores_nao_mapeados) > 0:
        print(f"AVISO: Estados não mapeados encontrados: {valores_nao_mapeados}")
        microdados_V3['SG_REGIAO'] = microdados_V3['SG_REGIAO'].fillna('Indefinido')
    
    # Otimizar tipo de dados
    microdados_V3['SG_REGIAO'] = microdados_V3['SG_REGIAO'].astype('category')
    
    print(f"Coluna REGIAO criada com {microdados_V3['SG_REGIAO'].nunique()} regiões únicas:")
    print(microdados_V3['SG_REGIAO'].value_counts())
    
    return 

# Adicionar a coluna REGIAO ao DataFrame
adicionar_coluna_regiao(microdados_V3)

Criando coluna REGIAO...
Coluna REGIAO criada com 5 regiões únicas:
SG_REGIAO
Nordeste        1423999
Sudeste         1305362
Norte            453454
Sul              417688
Centro-Oeste     333452
Name: count, dtype: int64

In [42]:
# Verificação da distribuição de valores
print("Distribuição de TP_PRESENCA_GERAL:")
print(microdados_V3['TP_PRESENCA_GERAL'].value_counts())

# Verificação com amostra de dados
verificacao = pd.DataFrame({
    'TP_PRESENCA_CN': microdados_V3['TP_PRESENCA_CN'],
    'TP_PRESENCA_CH': microdados_V3['TP_PRESENCA_CH'],
    'TP_PRESENCA_LC': microdados_V3['TP_PRESENCA_LC'],
    'TP_PRESENCA_MT': microdados_V3['TP_PRESENCA_MT'],
    'TP_PRESENCA_GERAL': microdados_V3['TP_PRESENCA_GERAL']
})

# Mostrar exemplos de cada categoria
for categoria in range(4):
    print(f"\nExemplos da categoria {categoria}:")
    print(verificacao[verificacao['TP_PRESENCA_GERAL'] == categoria].sample(3))

Distribuição de TP_PRESENCA_GERAL:
TP_PRESENCA_GERAL
3    2678264
0    1097149
1     144379
2      14163
Name: count, dtype: int64

Exemplos da categoria 0:
        TP_PRESENCA_CN TP_PRESENCA_CH TP_PRESENCA_LC TP_PRESENCA_MT  \
612539               0              0              0              0
2430346              0              0              0              0
1165892              0              0              0              0

        TP_PRESENCA_GERAL
612539                  0
2430346                 0
1165892                 0

Exemplos da categoria 1:
        TP_PRESENCA_CN TP_PRESENCA_CH TP_PRESENCA_LC TP_PRESENCA_MT  \
2862684              0              1              1              0
3389348              0              1              1              0
3091858              0              1              1              0

        TP_PRESENCA_GERAL
2862684                 1
3389348                 1
3091858                 1

Exemplos da categoria 2:
        TP_PRESENCA_CN TP_PRESENCA_CH TP_PRESENCA_LC TP_PRESENCA_MT  \
3447699              1              0              0              1
70837                1              0              0              1
1253131              1              2              2              1

        TP_PRESENCA_GERAL
3447699                 2
70837                   2
1253131                 2

Exemplos da categoria 3:
        TP_PRESENCA_CN TP_PRESENCA_CH TP_PRESENCA_LC TP_PRESENCA_MT  \
2240684              1              1              1              1
1232204              1              1              1              1
1195108              1              1              1              1

        TP_PRESENCA_GERAL
2240684                 3
1232204                 3
1195108                 3

In [43]:
# Criação da coluna TP_PRESENCA_REDACAO
# Um candidato é considerado presente na redação se estiver presente em
# Linguagens e Códigos (LC) E Ciências Humanas (CH)
condicao_presente_redacao = (
    (microdados_V3['TP_PRESENCA_LC'] == 1) & 
    (microdados_V3['TP_PRESENCA_CH'] == 1) 
)

# Criando a coluna com valores 1 (presente) ou 0 (ausente)
microdados_V3['TP_PRESENCA_REDACAO'] = condicao_presente_redacao.astype(int).astype('category')

# Verificação rápida
print("Distribuição de presença na redação:")
print(microdados_V3['TP_PRESENCA_REDACAO'].value_counts())

Distribuição de presença na redação:
TP_PRESENCA_REDACAO
1    2822643
0    1111312
Name: count, dtype: int64

In [44]:
"""
Para calcular o desempenho, sera feito a média das notas das colunas:
NU_NOTA_COMP1
NU_NOTA_COMP2
NU_NOTA_COMP3
NU_NOTA_COMP4
NU_NOTA_COMP5
NU_NOTA_REDACAO

logo apos isso classificando em 4 categorias e criação de um dicionário para mapear as categorias:
desempenho{
    1: 'Alto',
    2: 'Médio',
    3: 'Baixo'
}
"""

# Calculando a média das notas de redação e competências
microdados_V3['NU_DESEMPENHO'] = microdados_V3[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
                                            'NU_NOTA_MT', 'NU_NOTA_REDACAO']].mean(axis=1)

# Função para mapear os valores
def map_desempenho(valor):
    if valor >= 600:    # ~20-25% dos estudantes
        return 1        # Alto
    elif valor >= 400:  # ~30-35% dos estudantes
        return 2        # Médio
    else:               # ~40-45% dos estudantes
        return 3        # Baixo

# # Aplicando a função à coluna 'NU_DESEMPENHO'
microdados_V3['NU_DESEMPENHO'] = microdados_V3['NU_DESEMPENHO'].apply(map_desempenho).astype('category')

In [45]:
microdados_V3['NU_MEDIA_GERAL'] = microdados_V3[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
                                            'NU_NOTA_MT', 'NU_NOTA_REDACAO']].mean(axis=1).astype('float16')

In [46]:
microdados_V3['NU_MEDIA_GERAL'].unique()

array([ -1. , 508. , 564.5, ...,  71.4,  72.7,  99. ],
      shape=(3349,), dtype=float16)

In [47]:
# Definindo as colunas de Q007 a Q025
colunas_infra = [f"Q{str(i).zfill(3)}" for i in range(7, 26)]

# Dicionário de pontuações para cada questão.

# Aplicar o mapeamento e criar colunas com "_score"
# criar colunas de score para cada Q0XX.
for col in colunas_infra:
    microdados_V3[col + "_score"] = microdados_V3[col].map(pontuacao[col])

# Criar a coluna total (infrastructure_score)
colunas_pontuacao = [col + "_score" for col in colunas_infra]
microdados_V3["NU_INFRAESTRUTURA"] = microdados_V3[colunas_pontuacao].sum(axis=1)

# Dividir em 3 faixas (Baixa, Média, Alta) usando os tercis
# Calculando os tercis (33% e 66%)
q1 = microdados_V3["NU_INFRAESTRUTURA"].quantile(0.33)
q2 = microdados_V3["NU_INFRAESTRUTURA"].quantile(0.66)

def categorizar_infra(score):
    if score >= q2:
        return 1
    elif score >= q1:
        return 2
    else:
        return 3

microdados_V3["NU_INFRAESTRUTURA"] = microdados_V3["NU_INFRAESTRUTURA"].apply(categorizar_infra).astype('category')

# Remove as colunas score de Q007 a Q025 
microdados_V3.drop(columns=colunas_pontuacao, inplace=True)

In [48]:
# Criar mapeamento de faixa salarial para número de salários mínimos
salario_mapping = {
    'A': 0,            # Nenhuma Renda
    'B': 1,            # Até 1 salário mínimo
    'C': 2,            # 1-1.5 salários mínimos
    'D': 2,            # 1.5-2 salários mínimos
    'E': 3,            # 2-2.5 salários mínimos
    'F': 3,            # 2.5-3 salários mínimos
    'G': 4,            # 3-4 salários mínimos
    'H': 4,            # 4-5 salários mínimos
    'I': 5,            # 5-6 salários mínimos
    'J': 5,            # 6-7 salários mínimos
    'K': 5,            # 7-8 salários mínimos
    'L': 5,            # 8-9 salários mínimos
    'M': 5,            # 9-10 salários mínimos
    'N': 6,            # 10-12 salários mínimos
    'O': 6,            # 12-15 salários mínimos
    'P': 6,            # 15-20 salários mínimos
    'Q': 7             # Acima de 20 salários mínimos
}

# Descrição das categorias
faixa_salarial_descricao = {
    0: 'Nenhuma Renda',
    1: 'Até 1 salário mínimo',
    2: '1 a 2 salários mínimos',
    3: '2 a 3 salários mínimos',
    4: '3 a 5 salários mínimos',
    5: '5 a 10 salários mínimos',
    6: '10 a 20 salários mínimos',
    7: 'Acima de 20 salários mínimos'
}

# Aplicar o mapeamento e criar a nova coluna
microdados_V3['TP_FAIXA_SALARIAL'] = microdados_V3['Q006'].map(salario_mapping).astype('category')

# Verificar a distribuição
print("Distribuição da nova faixa salarial:")
print(microdados_V3['TP_FAIXA_SALARIAL'].value_counts().sort_index())

Distribuição da nova faixa salarial:
TP_FAIXA_SALARIAL
0     268053
1    1245271
2    1088308
3     465338
4     400606
5     294002
6     120888
7      51489
Name: count, dtype: int64

In [49]:
#==================== SALVAR DADOS TRATADOS ====================#

In [50]:
microdados_V3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 71 columns):
 #   Column                  Dtype
---  ------                  -----
 0   TP_FAIXA_ETARIA         category
 1   TP_SEXO                 category
 2   TP_ESTADO_CIVIL         category
 3   TP_COR_RACA             category
 4   TP_NACIONALIDADE        category
 5   TP_ST_CONCLUSAO         category
 6   TP_ANO_CONCLUIU         category
 7   TP_ESCOLA               category
 8   TP_ENSINO               category
 9   NO_MUNICIPIO_ESC        category
 10  SG_UF_ESC               category
 11  TP_DEPENDENCIA_ADM_ESC  category
 12  TP_LOCALIZACAO_ESC      category
 13  NO_MUNICIPIO_PROVA      category
 14  SG_UF_PROVA             category
 15  TP_PRESENCA_CN          category
 16  TP_PRESENCA_CH          category
 17  TP_PRESENCA_LC          category
 18  TP_PRESENCA_MT          category
 19  NU_NOTA_CN              float16
 20  NU_NOTA_CH              float16
 21  NU_NOTA_LC              float16
 22  NU_NOTA_MT              float16
 23  TX_RESPOSTAS_CN         string
 24  TX_RESPOSTAS_CH         string
 25  TX_RESPOSTAS_LC         string
 26  TX_RESPOSTAS_MT         string
 27  TP_LINGUA               category
 28  TX_GABARITO_CN          string
 29  TX_GABARITO_CH          string
 30  TX_GABARITO_LC          string
 31  TX_GABARITO_MT          string
 32  TP_STATUS_REDACAO       category
 33  NU_NOTA_COMP1           int16
 34  NU_NOTA_COMP2           int16
 35  NU_NOTA_COMP3           int16
 36  NU_NOTA_COMP4           int16
 37  NU_NOTA_COMP5           int16
 38  NU_NOTA_REDACAO         int16
 39  Q001                    category
 40  Q002                    category
 41  Q003                    category
 42  Q004                    category
 43  Q005                    category
 44  Q006                    category
 45  Q007                    category
 46  Q008                    category
 47  Q009                    category
 48  Q010                    category
 49  Q011                    category
 50  Q012                    category
 51  Q013                    category
 52  Q014                    category
 53  Q015                    category
 54  Q016                    category
 55  Q017                    category
 56  Q018                    category
 57  Q019                    category
 58  Q020                    category
 59  Q021                    category
 60  Q022                    category
 61  Q023                    category
 62  Q024                    category
 63  Q025                    category
 64  TP_PRESENCA_GERAL       category
 65  SG_REGIAO               category
 66  TP_PRESENCA_REDACAO     category
 67  NU_DESEMPENHO           category
 68  NU_MEDIA_GERAL          float16
 69  NU_INFRAESTRUTURA       category
 70  TP_FAIXA_SALARIAL       category
dtypes: category(52), float16(5), int16(6), string(8)
memory usage: 525.5 MB

In [51]:
# Mapeia os tipos de dados otimizados
dtypes_dict = microdados_V3.dtypes.apply(str).to_dict()

# Salva o mapeamento em um arquivo JSON
with open('dtypes.json', 'w') as f:
    json.dump(dtypes_dict, f)

In [52]:
# Salva o conjunto de dados tratado em um novo arquivo CSV
microdados_V3.to_parquet(output_file, index=False, engine='pyarrow')
# microdados_V3.to_csv(output_file_csv, index=False, sep=';', encoding='ISO-8859-1')

In [53]:
microdados_V3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 71 columns):
 #   Column                  Dtype
---  ------                  -----
 0   TP_FAIXA_ETARIA         category
 1   TP_SEXO                 category
 2   TP_ESTADO_CIVIL         category
 3   TP_COR_RACA             category
 4   TP_NACIONALIDADE        category
 5   TP_ST_CONCLUSAO         category
 6   TP_ANO_CONCLUIU         category
 7   TP_ESCOLA               category
 8   TP_ENSINO               category
 9   NO_MUNICIPIO_ESC        category
 10  SG_UF_ESC               category
 11  TP_DEPENDENCIA_ADM_ESC  category
 12  TP_LOCALIZACAO_ESC      category
 13  NO_MUNICIPIO_PROVA      category
 14  SG_UF_PROVA             category
 15  TP_PRESENCA_CN          category
 16  TP_PRESENCA_CH          category
 17  TP_PRESENCA_LC          category
 18  TP_PRESENCA_MT          category
 19  NU_NOTA_CN              float16
 20  NU_NOTA_CH              float16
 21  NU_NOTA_LC              float16
 22  NU_NOTA_MT              float16
 23  TX_RESPOSTAS_CN         string
 24  TX_RESPOSTAS_CH         string
 25  TX_RESPOSTAS_LC         string
 26  TX_RESPOSTAS_MT         string
 27  TP_LINGUA               category
 28  TX_GABARITO_CN          string
 29  TX_GABARITO_CH          string
 30  TX_GABARITO_LC          string
 31  TX_GABARITO_MT          string
 32  TP_STATUS_REDACAO       category
 33  NU_NOTA_COMP1           int16
 34  NU_NOTA_COMP2           int16
 35  NU_NOTA_COMP3           int16
 36  NU_NOTA_COMP4           int16
 37  NU_NOTA_COMP5           int16
 38  NU_NOTA_REDACAO         int16
 39  Q001                    category
 40  Q002                    category
 41  Q003                    category
 42  Q004                    category
 43  Q005                    category
 44  Q006                    category
 45  Q007                    category
 46  Q008                    category
 47  Q009                    category
 48  Q010                    category
 49  Q011                    category
 50  Q012                    category
 51  Q013                    category
 52  Q014                    category
 53  Q015                    category
 54  Q016                    category
 55  Q017                    category
 56  Q018                    category
 57  Q019                    category
 58  Q020                    category
 59  Q021                    category
 60  Q022                    category
 61  Q023                    category
 62  Q024                    category
 63  Q025                    category
 64  TP_PRESENCA_GERAL       category
 65  SG_REGIAO               category
 66  TP_PRESENCA_REDACAO     category
 67  NU_DESEMPENHO           category
 68  NU_MEDIA_GERAL          float16
 69  NU_INFRAESTRUTURA       category
 70  TP_FAIXA_SALARIAL       category
dtypes: category(52), float16(5), int16(6), string(8)
memory usage: 525.5 MB