In [237]:
"""
Este programa fara analise inicial dos dados do ENEM 2023

Este programa:
- abrirá o arquivo de dados do ENEM 2023
- fará uma análise inicial dos dados quanto a:
    - quantidade de linhas
    - quantidade de colunas
    - tipos de dados
- valores faltantes serão excluídos
- valores do tipo inteiro de 64 bits serão convertidos para inteiros de 8 bits
- valores do tipo float de 64 bits serão convertidos para inteiros de 16 bits

Como resultado o tamanho do arquivo foi reduzido de 251 MB para 159 MB

"""

'\nEste programa fara analise inicial dos dados do ENEM 2023\n\nEste programa:\n- abrirá o arquivo de dados do ENEM 2023\n- fará uma análise inicial dos dados quanto a:\n    - quantidade de linhas\n    - quantidade de colunas\n    - tipos de dados\n- valores faltantes serão excluídos\n- valores do tipo inteiro de 64 bits serão convertidos para inteiros de 8 bits\n- valores do tipo float de 64 bits serão convertidos para inteiros de 16 bits\n\nComo resultado o tamanho do arquivo foi reduzido de 251 MB para 159 MB\n\n'

In [256]:
# Importando bibliotecas
import pandas as pd

# Abrindo o arquivo de dados
df = pd.read_csv('enem_2023_100k.csv', sep=';')

# Verificando se o arquivo foi aberto corretamente
print(df.head(), '\n')

# Verificando a quantidade de linhas e colunas
print(df.shape, '\n')

   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  210060295440    2023                6       M                1
1  210059796284    2023                7       F                1
2  210058469154    2023                5       M                1
3  210058141596    2023               11       F                1
4  210058399522    2023                3       F                0

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            3                 1                1                4          1
1            1                 1                1                5          1
2            3                 1                1                0          1
3            1                 1                1               10          1
4            3                 1                2                0          2

   TP_ENSINO  IN_TREINEIRO  CO_MUNICIPIO_ESC NO_MUNICIPIO_ESC  CO_UF_ESC  \
0        NaN             0               NaN              NaN        NaN
1        NaN             0               NaN              NaN        NaN
2        NaN             0               NaN              NaN        NaN
3        NaN             0               NaN              NaN        NaN
4        1.0             0               NaN              NaN        NaN

  SG_UF_ESC  TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC  \
0       NaN                     NaN                 NaN              NaN
1       NaN                     NaN                 NaN              NaN
2       NaN                     NaN                 NaN              NaN
3       NaN                     NaN                 NaN              NaN
4       NaN                     NaN                 NaN              NaN

   CO_MUNICIPIO_PROVA       NO_MUNICIPIO_PROVA  CO_UF_PROVA SG_UF_PROVA  \
0             2607901  Jaboatão dos Guararapes           26          PE
1             3549904      São José dos Campos           35          SP
2             3122306              Divinópolis           31          MG
3             3108602        Brasília de Minas           31          MG
4             2501807                   Bayeux           25          PB

   TP_PRESENCA_CN  TP_PRESENCA_CH  TP_PRESENCA_LC  TP_PRESENCA_MT  \
0               1               1               1               1
1               1               1               1               1
2               1               1               1               1
3               0               0               0               0
4               1               1               1               1

   CO_PROVA_CN  CO_PROVA_CH  CO_PROVA_LC  CO_PROVA_MT  NU_NOTA_CN  NU_NOTA_CH  \
0       1221.0       1193.0       1204.0       1211.0       516.8       582.4
1       1222.0       1191.0       1201.0       1212.0       723.7       639.9
2       1223.0       1194.0       1203.0       1213.0       540.9       665.6
3          NaN          NaN          NaN          NaN         NaN         NaN
4       1224.0       1192.0       1202.0       1214.0       517.8       537.5

   NU_NOTA_LC  NU_NOTA_MT                                TX_RESPOSTAS_CN  \
0       540.7       613.2  DBEEECBDABDEDEEAEBDBEECBDBCABBEECBDDBCBBACECB
1       614.5       866.9  EAAACCCEADDDABECDCEBEECDCEDAEECBEBEABDBAABBEB
2       603.0       717.8  CDDDAECEDEDBCBEEBADBCDECDAAEBACDEACCBCEDBEEBC
3         NaN         NaN                                            NaN
4       532.4       522.3  EDBABECECDBCECBDDBBBABCDDABBCABBAEBECADEAADEE

                                 TX_RESPOSTAS_CH  \
0  ACEAEABADCDAADCABCDABCDCADDCDAAEACEBCBDDECEAA
1  CDAEEBEBBDCEAADEBBDAABCDCCBADCDDBBDABCCBEBADB
2  ABCDCBDACDAEACEECDBADAEBBCDEBAABCDCEDADCBAADE
3                                            NaN
4  DAEADEAABD.DDECDEEECEAAEAAAEDACEECDDECEDAABCA

                                 TX_RESPOSTAS_LC  \
0  DACDBCADDBCADDACCBCBADCCEAAEDBEAAECCBEBAACECD
1  BEDABDECDEBCCDBBEEDCDCCEBBACBACABAACCACBBEAAE
2  BDBBAAAECCEEAEEAACBEADBBACCAEDEDBEEDBEEDDCCCC
3                                            NaN
4  BDCDCCAEAEBBAACBACDAEACDAEAECECBDBCCEACDADDAE

                                 TX_RESPOSTAS_MT  TP_LINGUA  \
0  BCEDCBCCDBEBEDABCEEEAABDCAEDDCCADBABECEEECACC          0
1  DCEEECCBDECBEEAEEABCDAADDABBBCCBCCADAEBDADCEB          0
2  EEDCEBDACDEBCCDCAAADDDAEBDAEAEEADBECBEADCECCC          0
3                                            NaN          1
4  BCBCCBDEEAEDACBADCCBBCBCEBECCCBCCDDACDBBCBBBB          0

                                  TX_GABARITO_CN  \
0  DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED
1  CAAADCCCCDDDABDCACDBEEEDCEDAEECCDBEABDBABBAEB
2  CEDAEEDEECCEBADCCCABBABCAACDDDACDBEABDCDBEABD
3                                            NaN
4  CDDDABBABDBEABDECCEEEDCEDAEBABDCCAACCCADACDBE

                                  TX_GABARITO_CH  \
0  ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE
1  CDAEECABAACEAADECBDAABCDCABADCDEABAABCDDEBADB
2  ABCDCBDACDAEACEECABADBEABADEBAABCDCABADCDAADE
3                                            NaN
4  DBAADEADCDCABABCDDEBAEABAECABAACECDAECBDAABCD

                                      TX_GABARITO_LC  \
0  DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...
1  BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...
2  BDBBABAAAEAAECBBEAACAAACEACBCACCCEDEDADBDBEEDD...
3                                                NaN
4  BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...

                                  TX_GABARITO_MT  TP_STATUS_REDACAO  \
0  BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC                1.0
1  DCECACCBDECBEEABEABDDAADDABBBCCBCCDDAEBDADEEB                1.0
2  EBDEEBDADDABCCBCCABBADDBDDAEAEABCBEDECADCECCB                1.0
3                                            NaN                NaN
4  EBDADDAEBEACBEDCECCBEABCADEBCCBCCDEBDDAABBADD                1.0

   NU_NOTA_COMP1  NU_NOTA_COMP2  NU_NOTA_COMP3  NU_NOTA_COMP4  NU_NOTA_COMP5  \
0          120.0          120.0          120.0          160.0          200.0
1          160.0          200.0          200.0          180.0          160.0
2          140.0          200.0          160.0          160.0          200.0
3            NaN            NaN            NaN            NaN            NaN
4          120.0          160.0          120.0          100.0          140.0

   NU_NOTA_REDACAO Q001 Q002 Q003 Q004  Q005 Q006 Q007 Q008 Q009 Q010 Q011  \
0            720.0    E    E    B    B     2    B    A    C    D    A    A
1            900.0    E    G    B    D     2    E    A    B    C    B    A
2            860.0    C    C    A    B     2    C    A    B    C    A    B
3              NaN    C    D    A    A     2    B    A    B    C    A    A
4            640.0    D    E    B    C     4    A    A    C    C    A    A

  Q012 Q013 Q014 Q015 Q016 Q017 Q018 Q019 Q020 Q021 Q022 Q023 Q024 Q025
0    B    B    B    B    B    A    A    C    A    A    C    A    A    B
1    B    B    A    A    B    A    A    B    A    A    C    A    B    B
2    B    B    B    A    B    A    A    B    A    A    C    A    B    B
3    B    A    A    A    A    A    A    B    A    A    B    A    A    A
4    B    A    A    A    A    A    A    B    A    A    C    A    A    B

(100000, 76)

In [239]:
# Configurando pandas para mostrar todas as colunas
pd.set_option('display.max_columns', 76)

# Verificando os tipos de dados de todas as colunas
print(df.dtypes.to_string(), '\n')

NU_INSCRICAO                int64
NU_ANO                      int64
TP_FAIXA_ETARIA             int64
TP_SEXO                    object
TP_ESTADO_CIVIL             int64
TP_COR_RACA                 int64
TP_NACIONALIDADE            int64
TP_ST_CONCLUSAO             int64
TP_ANO_CONCLUIU             int64
TP_ESCOLA                   int64
TP_ENSINO                 float64
IN_TREINEIRO                int64
CO_MUNICIPIO_ESC          float64
NO_MUNICIPIO_ESC           object
CO_UF_ESC                 float64
SG_UF_ESC                  object
TP_DEPENDENCIA_ADM_ESC    float64
TP_LOCALIZACAO_ESC        float64
TP_SIT_FUNC_ESC           float64
CO_MUNICIPIO_PROVA          int64
NO_MUNICIPIO_PROVA         object
CO_UF_PROVA                 int64
SG_UF_PROVA                object
TP_PRESENCA_CN              int64
TP_PRESENCA_CH              int64
TP_PRESENCA_LC              int64
TP_PRESENCA_MT              int64
CO_PROVA_CN               float64
CO_PROVA_CH               float64
CO_PROVA_LC               float64
CO_PROVA_MT               float64
NU_NOTA_CN                float64
NU_NOTA_CH                float64
NU_NOTA_LC                float64
NU_NOTA_MT                float64
TX_RESPOSTAS_CN            object
TX_RESPOSTAS_CH            object
TX_RESPOSTAS_LC            object
TX_RESPOSTAS_MT            object
TP_LINGUA                   int64
TX_GABARITO_CN             object
TX_GABARITO_CH             object
TX_GABARITO_LC             object
TX_GABARITO_MT             object
TP_STATUS_REDACAO         float64
NU_NOTA_COMP1             float64
NU_NOTA_COMP2             float64
NU_NOTA_COMP3             float64
NU_NOTA_COMP4             float64
NU_NOTA_COMP5             float64
NU_NOTA_REDACAO           float64
Q001                       object
Q002                       object
Q003                       object
Q004                       object
Q005                        int64
Q006                       object
Q007                       object
Q008                       object
Q009                       object
Q010                       object
Q011                       object
Q012                       object
Q013                       object
Q014                       object
Q015                       object
Q016                       object
Q017                       object
Q018                       object
Q019                       object
Q020                       object
Q021                       object
Q022                       object
Q023                       object
Q024                       object
Q025                       object

In [240]:
# imprimindo o tamanho da memória ocupada pelo dataframe df em Mb com duas casas decimais
print(f'Memória ocupada pelo dataframe df: {df.memory_usage(deep=True).sum() / 1024 ** 2:.2f} MB\n')

Memória ocupada pelo dataframe df: 251.01 MB

In [241]:
# Excluindo as colunas Q001 a Q025
# df.drop(columns=['Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025'], axis = 1,inplace=True)

# Excluindo as colunas: NU_INSCRICAO, CO_MUNICIPIO_ESC, NU_ANO
df.drop(columns=['NU_INSCRICAO', 'CO_MUNICIPIO_ESC', 'CO_MUNICIPIO_PROVA', 'NU_ANO'], axis = 1, inplace=True)

In [242]:
# imprimindo o tamanho da memória ocupada pelo dataframe df em Mb com duas casas decimais
print(f'Memória ocupada pelo dataframe df: {df.memory_usage(deep=True).sum() / 1024 ** 2:.2f} MB\n')

Memória ocupada pelo dataframe df: 247.96 MB

In [243]:
# Verificando os tipos de dados de todas as colunas
print(df.dtypes.to_string(), '\n')

TP_FAIXA_ETARIA             int64
TP_SEXO                    object
TP_ESTADO_CIVIL             int64
TP_COR_RACA                 int64
TP_NACIONALIDADE            int64
TP_ST_CONCLUSAO             int64
TP_ANO_CONCLUIU             int64
TP_ESCOLA                   int64
TP_ENSINO                 float64
IN_TREINEIRO                int64
NO_MUNICIPIO_ESC           object
CO_UF_ESC                 float64
SG_UF_ESC                  object
TP_DEPENDENCIA_ADM_ESC    float64
TP_LOCALIZACAO_ESC        float64
TP_SIT_FUNC_ESC           float64
NO_MUNICIPIO_PROVA         object
CO_UF_PROVA                 int64
SG_UF_PROVA                object
TP_PRESENCA_CN              int64
TP_PRESENCA_CH              int64
TP_PRESENCA_LC              int64
TP_PRESENCA_MT              int64
CO_PROVA_CN               float64
CO_PROVA_CH               float64
CO_PROVA_LC               float64
CO_PROVA_MT               float64
NU_NOTA_CN                float64
NU_NOTA_CH                float64
NU_NOTA_LC                float64
NU_NOTA_MT                float64
TX_RESPOSTAS_CN            object
TX_RESPOSTAS_CH            object
TX_RESPOSTAS_LC            object
TX_RESPOSTAS_MT            object
TP_LINGUA                   int64
TX_GABARITO_CN             object
TX_GABARITO_CH             object
TX_GABARITO_LC             object
TX_GABARITO_MT             object
TP_STATUS_REDACAO         float64
NU_NOTA_COMP1             float64
NU_NOTA_COMP2             float64
NU_NOTA_COMP3             float64
NU_NOTA_COMP4             float64
NU_NOTA_COMP5             float64
NU_NOTA_REDACAO           float64
Q001                       object
Q002                       object
Q003                       object
Q004                       object
Q005                        int64
Q006                       object
Q007                       object
Q008                       object
Q009                       object
Q010                       object
Q011                       object
Q012                       object
Q013                       object
Q014                       object
Q015                       object
Q016                       object
Q017                       object
Q018                       object
Q019                       object
Q020                       object
Q021                       object
Q022                       object
Q023                       object
Q024                       object
Q025                       object

In [244]:
# Verificando os valores faltantes
print('Valores faltantes por coluna: \n')
print(df.isnull().sum(), '\n')

Valores faltantes por coluna:

TP_FAIXA_ETARIA     0
TP_SEXO             0
TP_ESTADO_CIVIL     0
TP_COR_RACA         0
TP_NACIONALIDADE    0
                   ..
Q021                0
Q022                0
Q023                0
Q024                0
Q025                0
Length: 72, dtype: int64

In [245]:
# Imprimindo os valores unicos de 'TP_ENSINO'
print(df['TP_ENSINO'].unique(), '\n')

# Substiotuindo os valores faltantes por 0 na coluna 'TP_ENSINO'
df['TP_ENSINO'] = df['TP_ENSINO'].fillna(0)

# Verificando os valores faltantes na coluna 'TP_ENSINO'
print(df['TP_ENSINO'].isnull().sum(), '\n')

# Imprimindo os valores unicos de 'TP_ENSINO'
print(df['TP_ENSINO'].unique(), '\n')

# Convertendo os valores float64 para int8
df['TP_ENSINO'] = df['TP_ENSINO'].astype('int8')

[nan  1.  2.]

0

[0. 1. 2.]

In [246]:
# Imprimindo os valores unicos de 'TP_DEPENDENCIA_ADM_ESC'
print(df['TP_DEPENDENCIA_ADM_ESC'].unique(), '\n')

# Substituindo os valores faltantes por 0 na coluna 'TP_DEPENDENCIA_ADM_ESC'
df['TP_DEPENDENCIA_ADM_ESC'] = df['TP_DEPENDENCIA_ADM_ESC'].fillna(0)

# Verificando os valores faltantes na coluna 'TP_DEPENDENCIA_ADM_ESC'
print(df['TP_DEPENDENCIA_ADM_ESC'].isnull().sum(), '\n')

# Imprimindo os valores unicos de 'TP_DEPENDENCIA_ADM_ESC'
print(df['TP_DEPENDENCIA_ADM_ESC'].unique(), '\n')

# Convertendo os valores float64 para int8
df['TP_DEPENDENCIA_ADM_ESC'] = df['TP_DEPENDENCIA_ADM_ESC'].astype('int8')

[nan  2.  4.  1.  3.]

0

[0. 2. 4. 1. 3.]

In [247]:
# Imprimindo os valores unicos de 'TP_LOCALIZACAO_ESC'
print(df['TP_LOCALIZACAO_ESC'].unique(), '\n')

# Substituindo os valores faltantes por 0 na coluna 'TP_LOCALIZACAO_ESC'
df['TP_LOCALIZACAO_ESC'] = df['TP_LOCALIZACAO_ESC'].fillna(0)

# Verificando os valores faltantes na coluna 'TP_LOCALIZACAO_ESC'
print(df['TP_LOCALIZACAO_ESC'].isnull().sum(), '\n')

# Imprimindo os valores unicos de 'TP_LOCALIZACAO_ESC'
print(df['TP_LOCALIZACAO_ESC'].unique(), '\n')

# Convertendo os valores float64 para int8
df['TP_LOCALIZACAO_ESC'] = df['TP_LOCALIZACAO_ESC'].astype('int8')

[nan  1.  2.]

0

[0. 1. 2.]

In [248]:
# Imprimindo os valores unicos de 'SG_UF_ESC'
print(df['SG_UF_ESC'].unique(), '\n')

# Substituindo os valores faltantes por 'NI' na coluna 'SG_UF_PROVA'
df['SG_UF_ESC'] = df['SG_UF_ESC'].fillna('NI')

# Verificando os valores faltantes na coluna 'SG_UF_PROVA'
print(df['SG_UF_ESC'].isnull().sum(), '\n')

# Imprimindo os valores unicos de 'SG_UF_ESC'
print(df['SG_UF_ESC'].unique(), '\n')

[nan 'GO' 'RJ' 'ES' 'MT' 'PR' 'AL' 'CE' 'PB' 'SP' 'AP' 'TO' 'BA' 'MA' 'SC'
 'DF' 'PA' 'MG' 'MS' 'AM' 'PE' 'RS' 'RN' 'AC' 'PI' 'SE' 'RO' 'RR']

0

['NI' 'GO' 'RJ' 'ES' 'MT' 'PR' 'AL' 'CE' 'PB' 'SP' 'AP' 'TO' 'BA' 'MA'
 'SC' 'DF' 'PA' 'MG' 'MS' 'AM' 'PE' 'RS' 'RN' 'AC' 'PI' 'SE' 'RO' 'RR']

In [249]:
# Armazenando o nome das colunas com valores faltantes
colunas_faltantes = df.columns[df.isnull().sum() > 0]

# Excluindo as colunas com valores faltantes
df.drop(columns=colunas_faltantes, axis = 1, inplace=True)

In [250]:
# Verificando os tipos de dados de todas as colunas
print(df.dtypes.to_string(), '\n')

# Verificando os valores únicos
print('Valores únicos por coluna: \n')
print(df.nunique(), '\n')

TP_FAIXA_ETARIA            int64
TP_SEXO                   object
TP_ESTADO_CIVIL            int64
TP_COR_RACA                int64
TP_NACIONALIDADE           int64
TP_ST_CONCLUSAO            int64
TP_ANO_CONCLUIU            int64
TP_ESCOLA                  int64
TP_ENSINO                   int8
IN_TREINEIRO               int64
SG_UF_ESC                 object
TP_DEPENDENCIA_ADM_ESC      int8
TP_LOCALIZACAO_ESC          int8
NO_MUNICIPIO_PROVA        object
CO_UF_PROVA                int64
SG_UF_PROVA               object
TP_PRESENCA_CN             int64
TP_PRESENCA_CH             int64
TP_PRESENCA_LC             int64
TP_PRESENCA_MT             int64
TP_LINGUA                  int64
Q001                      object
Q002                      object
Q003                      object
Q004                      object
Q005                       int64
Q006                      object
Q007                      object
Q008                      object
Q009                      object
Q010                      object
Q011                      object
Q012                      object
Q013                      object
Q014                      object
Q015                      object
Q016                      object
Q017                      object
Q018                      object
Q019                      object
Q020                      object
Q021                      object
Q022                      object
Q023                      object
Q024                      object
Q025                      object

Valores únicos por coluna:

TP_FAIXA_ETARIA             20
TP_SEXO                      2
TP_ESTADO_CIVIL              5
TP_COR_RACA                  6
TP_NACIONALIDADE             5
TP_ST_CONCLUSAO              4
TP_ANO_CONCLUIU             18
TP_ESCOLA                    3
TP_ENSINO                    3
IN_TREINEIRO                 2
SG_UF_ESC                   28
TP_DEPENDENCIA_ADM_ESC       5
TP_LOCALIZACAO_ESC           3
NO_MUNICIPIO_PROVA        1708
CO_UF_PROVA                 27
SG_UF_PROVA                 27
TP_PRESENCA_CN               3
TP_PRESENCA_CH               3
TP_PRESENCA_LC               3
TP_PRESENCA_MT               3
TP_LINGUA                    2
Q001                         8
Q002                         8
Q003                         6
Q004                         6
Q005                        20
Q006                        17
Q007                         4
Q008                         5
Q009                         5
Q010                         5
Q011                         5
Q012                         5
Q013                         5
Q014                         5
Q015                         5
Q016                         5
Q017                         5
Q018                         2
Q019                         5
Q020                         2
Q021                         2
Q022                         5
Q023                         2
Q024                         5
Q025                         2
dtype: int64

In [251]:
# Verificando os valores máximos e mínimos
# Selecionando as colunas com valores numéricos inteiro  
numeric_int_df = df.select_dtypes(include=['int64'])

In [252]:
# Verificando os valores máximos e mínimos das colunas numéricas inteiras
print('Valores máximos das colunas numéricas inteiras: \n')
print(numeric_int_df.max(), '\n')
print('Valores mínimos das colunas numéricas inteiras: \n')
print(numeric_int_df.min(), '\n')

Valores máximos das colunas numéricas inteiras:

TP_FAIXA_ETARIA     20
TP_ESTADO_CIVIL      4
TP_COR_RACA          5
TP_NACIONALIDADE     4
TP_ST_CONCLUSAO      4
TP_ANO_CONCLUIU     17
TP_ESCOLA            3
IN_TREINEIRO         1
CO_UF_PROVA         53
TP_PRESENCA_CN       2
TP_PRESENCA_CH       2
TP_PRESENCA_LC       2
TP_PRESENCA_MT       2
TP_LINGUA            1
Q005                20
dtype: int64

Valores mínimos das colunas numéricas inteiras:

TP_FAIXA_ETARIA      1
TP_ESTADO_CIVIL      0
TP_COR_RACA          0
TP_NACIONALIDADE     0
TP_ST_CONCLUSAO      1
TP_ANO_CONCLUIU      0
TP_ESCOLA            1
IN_TREINEIRO         0
CO_UF_PROVA         11
TP_PRESENCA_CN       0
TP_PRESENCA_CH       0
TP_PRESENCA_LC       0
TP_PRESENCA_MT       0
TP_LINGUA            0
Q005                 1
dtype: int64

In [253]:
# Armazenando as colunas numéricas inteiras em uma lista
numeric_int_columns = numeric_int_df.columns.tolist()

# Convertendo as colunas numéricas int64 para inteiros sem sinal de 8 bits (uint8)
df[numeric_int_columns] = df[numeric_int_columns].astype('uint8')

# Verificando os tipos de dados de todas as colunas
print(df.dtypes.to_string(), '\n')

TP_FAIXA_ETARIA            uint8
TP_SEXO                   object
TP_ESTADO_CIVIL            uint8
TP_COR_RACA                uint8
TP_NACIONALIDADE           uint8
TP_ST_CONCLUSAO            uint8
TP_ANO_CONCLUIU            uint8
TP_ESCOLA                  uint8
TP_ENSINO                   int8
IN_TREINEIRO               uint8
SG_UF_ESC                 object
TP_DEPENDENCIA_ADM_ESC      int8
TP_LOCALIZACAO_ESC          int8
NO_MUNICIPIO_PROVA        object
CO_UF_PROVA                uint8
SG_UF_PROVA               object
TP_PRESENCA_CN             uint8
TP_PRESENCA_CH             uint8
TP_PRESENCA_LC             uint8
TP_PRESENCA_MT             uint8
TP_LINGUA                  uint8
Q001                      object
Q002                      object
Q003                      object
Q004                      object
Q005                       uint8
Q006                      object
Q007                      object
Q008                      object
Q009                      object
Q010                      object
Q011                      object
Q012                      object
Q013                      object
Q014                      object
Q015                      object
Q016                      object
Q017                      object
Q018                      object
Q019                      object
Q020                      object
Q021                      object
Q022                      object
Q023                      object
Q024                      object
Q025                      object

In [259]:
# Verificando coluna Q01
print(df['Q001'].unique(), '\n')

# Verificando coluna Q02
print(df['Q002'].unique(), '\n')

# Verificando coluna Q03
print(df['Q003'].unique(), '\n')

# Verificando coluna Q04
print(df['Q004'].unique(), '\n')

# Verificando coluna Q05
print(df['Q005'].unique(), '\n')

['E' 'C' 'D' 'B' 'F' 'H' 'G' 'A']

['E' 'G' 'C' 'D' 'A' 'B' 'F' 'H']

['B' 'A' 'D' 'F' 'C' 'E']

['B' 'D' 'A' 'C' 'F' 'E']

[ 2  4  7  3  5  6  9  1  8 10 13 14 20 11 15 12 19 17 16 18]

In [254]:
# imprimindo o tamanho da memória ocupada pelo dataframe df em Mb com duas casas decimais
print(f'Tamanho da memória ocupada pelo dataframe df: {df.memory_usage(deep=True).sum() / 1024 ** 2:.2f} MB\n')

Tamanho da memória ocupada pelo dataframe df: 159.04 MB

In [255]:
# Salvando o arquivo de dados
df.to_csv('enem_2023_100k_clean.csv', index=False, sep=';')